.user-info {
    display: flex;
    flex-flow: column wrap;
}

.user-info__item {
    padding: 0.25rem 0;
    display: block;
  

}
.user-info__item span {
    border-radius: var(--main-border-radius);
    background-color: var(--navbar-link-active-hover-bg);
    padding: 0.25rem 0.75rem;
    font-size: 12px;
    font-weight: 500;
    color: var(--text-color);
}
.user-info__item button {
    text-transform: capitalize;
    margin-top: 0.5rem;
}
.user-forms {
    padding: 1rem 0;
    display: flex;
    column-gap: 1rem;
}
